<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<? Page::printHtmlHead() ?>

<title><?= Page::get( 'Title' ) ?></title>

<style type="text/css">
ul.error {
	background-color: #efb3a7;
	margin: 0px;
	padding: 30px;
}
span.error > input {
	border: 2px solid red;
}
</style>

</head>
<body>

<div style="margin:0px auto 0px auto; width: 800px;">
	<div style="font-size:2em;background-color:#eeeeee;"><?= Page::get( 'title' ) ?></div>
	<div style="margin:20px;"><?= Page::get( 'main' ) ?></div>
	<div style="background-color:#ffeeee;">
		<?
			echo 'Remove app_tools and app/pages/ApplicationPage.class.php when ready!'. BR;
		?>
	</div>
</div>

</body>
</html>